#!/usr/bin/env python
# -*- coding: utf-8 -*-

BOT_TOKEN = "the-bot-token"
BOT_ID = "bot_id"
VIDEO_CONF_CHANNEL = "#the-channel"
MESSAGE_PATTERN = '''
Zoom ID for the next Friday event
:clapper:   %s   :clapper:
--------------------------
_do not forget to record it_
'''
